
/* Index */

.profImg img{
padding-right: 200px !important;
}


/* News Section Home */
@media screen and (min-width: 993px) and (max-width: 1196px) {
 .arrowIcon{
  float: left;
  margin-top: -50px;
 }
 .newsTxt{
  float: left;
  margin-top: -150px;
 }
 .newsDet{
  padding-top: 10px;
  margin-bottom: 10px;
 }
 .newsCol{
  padding-bottom: 24px;
 }
}


@media screen and (min-width: 1140px) {
  html[dir="rtl"] .profImg{
    left: 0% !important;
}

}