
@media screen and (min-width: 993px) and (max-width: 1196px) {
 .newsImg{
  width: 50%;
 }
 .arrowIcon{
  width: 50%;
  float: left;
  margin-top: -50px;
 }
 .newsTxt{
  width: 50%;
  float: left;
  margin-top: -150px;
 }
 .newsDet{
  padding-top: 10px;
  margin-bottom: 10px;
 }
 .newsCol{
  padding-bottom: 24px;
 }
}
